<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
 
<div class="thumbnail"> 
  <img width="1500" height="900" alt="Angular Logo" src="../assets/homePic.jpg">
  
 

  <div class="caption">
    <p>MAKWINJA"S PRIVATE CLINIC CENTER</p>      <img id="health" src="../assets/heart pic.jpg">
    <img id="health" src="../assets/heart pic.jpg">

  </div>

  <div class="container" class="bg-warning">
    <div class="row">
      <div class="col-sm-4">
        <h5 id="head">EMERGENCY SERVICES</h5><br>
        <p id="text2">*BOTSWANA POLICE:999</p>
        <p id="text3">*BOTSWANA MEDICAL HELP: 998</p>
        <p id="text4">*BOTSWANA FIRE SERVICES:997</p>

      </div>
      <div class="col-sm-4">
        <h5>APPOINTMENTS</h5>
        <p id="text5" >Save time
           spend less airtime calling to make <br>appointments
        Always laugh when you can, it is<br> cheap medicine.” ...
        
    </p>
        <button class="bg-dark">MAKE AN APPOINTMENT</button>
      </div>
      <div class="col-sm-4">
        <h5>OPENING HOURS</h5>   <br>     
        <p id="text">*MONDAY-FRIDAY: 0800HRS TO 1600HRS</p><br>
        <p id="text1">*SATURDAY:1000HRS TO 1400HRS</p>
      </div>
    </div>
   
    <!-- Copyright -->
    <div class="footer-copyr">© 2019 Copyright:
     <p>MAKWINJA'S CLINIC CENTER</p>
  
    <!-- Copyright -->
  
  <!-- Footer -->


<router-outlet></router-outlet>
