
.thumbnail{
    position: relative;
    display: inline-block;
}

.caption{
    position: absolute;
    top:50%;
    left: 70%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #1e90ff;
    font-weight: bold;
    font-size: 60px;
}

#health{
    width: 70px ;
    height: 70px;
    right:150px;
    

}

#footer{
position: relative;
overflow: hidden;
clear: both;
margin: 0 auto;
padding: 20px;
}



.left {
    text-align: left;
}

.right{
    text-align: left;
}

.centered{
width:5%;
overflow: hidden;
display: inline-block;
text-align:center;
}

.table{
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  left: 100px;
}


column {
    float: left; 
    width: 25%;
    padding: 10px;
    height: 300px;
    background-color: #1e90ff;
   
  }
  .row:after {
      content: "";
      display: table;
      clear: both;
  }



#text{
padding-left: 70px;
}

#text1{
    padding-left: 15px;
}
    
#text2{
        padding-right: 120px;
    }
#text3{
        padding-right: 60px;
    }

#text4{
        padding-right: 70px;
    }

#text5{
        padding-right: 90px;
    }

#head{
    padding-left: 70px;
}